{% extends "base.html" %}
{% load staticfiles data_explorer_tags %}

{% block head_meta %}
  {% head_meta title="About CALC" description="About CALC, the Contract-Awarded Labor Category tool" %}
{% endblock %}

{% block body_class %}content--skinny{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  <div class="card">
    <div class="content">
      <h2>What does CALC do?</h2>
      <p>The CALC (Contract Awarded Labor Category) tool searches hourly rates on multiple GSA & VA services contracts and returns similar labor categories and prices based on search criteria and filters used. Learn more about the schedules <a href="#schedules">below</a>, or on the <a href="http://www.gsa.gov/portal/category/100611">GSA website.</a></p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2>How can CALC help me?</h2>
      <p>The CALC tool was built to assist acquisition professionals with market research and price analysis for labor categories on federal government contracts. By capturing labor categories and prices in a database with an easy to use interface, we enable a search to be completed in seconds and return up to hundreds of results, versus spending hours searching GSA Advantage or contract files to only come up with a handful of comparables.  </p>

      <p>The tool also produces calculations that give users a better understanding of the larger population of data, such as ranges (highest and lowest prices) and average prices. This data is helpful for contract and task order negotiations for buyers and sellers. </p>
      <p>CALC's data visualization, or price histogram, includes information about standard deviations for specific labor category prices.  A standard deviation is a commonly used measurement that, in this case, tells you how far each labor category price is from the average (or arithmetic mean). The CALC histogram provides the average labor rate, the price point that includes 34% of prices higher than the mean (in a normal distribution), the price point that includes 34% of prices lower than average (in a normal distribution), and the number of results per price range. Up to 200 rates are displayed, but the entire data set can be downloaded including the search query parameters. </p>
      <p>In short, the histogram is a helpful tool in understanding the distribution and ranges of ceiling prices for a given labor category. The histogram provides you with pricing insight and data for select GSA and VA labor category prices. However, for governament users, note that the results do not automatically establish or determine fair and reasonable pricing for a particular labor category.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2>Where do the prices in this tool come from?</h2>
      <p>This tool shows actual ceiling prices awarded to various vendors at the master contract level, on multiple GSA & VA services schedules listed <a href="#schedules">below.</a>  These are not prices paid at the task order level, which may be slightly different (e.g. to reflect a discount).</p>
      <h3>Rates you see in CALC are:</h3>
      <ul id="about">
      <li>Fully burdened hourly rates </li>
      <li>Ceiling prices (awarded at the master contract level)</li>
      <li>For the current fiscal year (out years available by clicking +1 or +2 under contract year or “Export data” under the chart</li>
      <li>Worldwide awarded rates</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2>Where does the data come from?</h2>
      <p>The labor category prices are the awarded labor categories and prices on the companies' GSA Schedules. It is the same data that is uploaded into GSA Advantage; however, it is loaded on the day of award versus 30 days or more after award.
       </p>
       <p>
        The contracting officer uploads the data to the pricing tool after the price list is reviewed, approved, and the contract award or modification is completed.
      </p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2>Where does the data reside?</h2>
      <p>The source data is housed in a database on GSA Region 10 servers and within an Amazon Web Services account for GSA 18F.</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 id="schedules">What are these schedules?</h2>
      <p>Visit <a href="http://www.gsa.gov/portal/category/100611">GSA's website</a> to learn more about the Multiple Award Schedules (MAS).</p>

      {% for schedule in schedules %}
      <p class="schedule">{{ schedule.full_name }}</p>
      {{ schedule.description_html }}
      {% endfor %}
    </div><!--content-->
  </div><!--card-->
</div><!--row-->

</div>
{% endblock %}
